body {
    background: #222222;
}

main {
    height: 100vh;
}

div#left_section {
    width: 40vw;
    height: auto;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50vh;
    left: 5vw;
    transform: translateY(-50%);
}

div#right_section {
    width: 45vw;
    height: auto;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50vh;
    right: 5vw;
    transform: translateY(-50%);
}

img#logo_text {
    margin-top: 1.5rem;
}

img#slogan {
    width: 80%;
    height: auto;
}

p {
    color: #c1c1c1;
    letter-spacing: 0.05rem;
    margin: 0 0 0.5rem 0;
}

i.material_icon {
    margin-left: 0;
}

a.ripple_effect {
    padding: 0.1rem 0.2rem;
    border-radius: 0.25rem;
    display: inline-block;
    vertical-align: text-top;
}
