@import url("theme/light_theme.css");

@import url("ripple.css");

:root {
    --border_radius_size: 0.5rem;
}

@font-face {
    font-family: "League Spartan";
    src: url("../font/LeagueSpartan-Regular.ttf") format("truetype");
    font-display: swap;
}

* {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: 0.3s;
}

*::-webkit-scrollbar {
    display:none;
}

*::selection {
    background: var(--theme_color);
    color: white;
}

*:focus {
    outline: none;
}

.important {
    color: var(--theme_color);
}

.warning {
    color: red;
}

html, body {
    font-family: "League Spartan", "Yu Gothic UI", sans-selif;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
}

header {
    width: 100vw;
    min-height: 6vh;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px var(--shadow);
}

main {
    width: 100vw;
    height: 96vh;
    margin: 0;
    padding: 0;
}

.title {
    max-width: 100vw;
    height: 6vh;
    margin: 0;
    padding: 2vh;
    background: var(--theme_color);
    color: white;
}

.title a {
    text-decoration: none;
    color: white;
}

.title img {
    vertical-align: top;
}

header h1 {
    color: white;
    display: inline:
}

@media (orientation: portrait) {
    .main_control_panel {
        width: calc(100vw - 8vh);
        height: 32vh;
        background: var(--card_bg);
        border-radius: var(--border_radius_size);
        box-shadow: 0 2px 5px var(--shadow);
        margin: 2vh;
        padding: 2vh;
        text-align: center;
    }
    .bottom_control_panel {
        width: calc(100vw - 8vh);
        height: 19vh;
        background: var(--card_bg);
        border-radius: var(--border_radius_size);
        box-shadow: 0 2px 5px var(--shadow);
        margin: 2vh;
        padding: 2vh;
        text-align: center;
    }
}

@media (orientation: landscape) {
    .main_control_panel {
        width: calc(100vw - 8vh);
        height: 55vh;
        background: var(--card_bg);
        border-radius: var(--border_radius_size);
        box-shadow: 0 2px 5px var(--shadow);
        margin: 2vh;
        padding: 2vh;
        text-align: center;
    }
    .bottom_control_panel {
        width: calc((100vw - 15vh)/2);
        height: 19vh;
        background: var(--card_bg);
        border-radius: var(--border_radius_size);
        box-shadow: 0 2px 5px var(--shadow);
        margin: 2vh;
        margin-right: 0;
        padding: 2vh;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }
}


.main_control_panel:hover {
    box-shadow: 2px 5px 5px var(--shadow);
}

.bottom_control_panel:hover {
    box-shadow: 2px 5px 5px var(--shadow);
}

.fill_panel {
    width: calc(100vw - 8vh);
    height: 82vh;
    background: var(--card_bg);
    border-radius: var(--border_radius_size);
    box-shadow: 0 2px 5px var(--shadow);
    margin: 2vh;
    padding: 2vh;
}

.fill_panel:hover {
    background: var(--card_bg);
    box-shadow: 2px 5px 5px var(--shadow);
}

.side_menu_bar_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    display: none;
    z-index: 2;
}

.side_menu_bar {
    background: var(--bg);
    width: 30vw;
    height: 100vh;
    padding-top: 10vh;
    position: fixed;
    top: 0;
    left: -30vw;
    z-index: 3;
}

.side_menu_bar div {
    background: var(--card_bg);
    margin-top: 1vh;
    width: calc(100% - 4vh);
    min-height: 10vh;
    padding: 2vh;
}

.logo {
    height: 30vh;
}

pre {
    white-space: pre-wrap;
}

#waiting, #listening {
    width: calc(100% - 4vh);
    height: 38vh;
    position: absolute;
    top: 10vh;
    left: 0vw;
    z-index: 1;
    margin: 2vh;
}

#listening {
    display: none;
}

.message {
    width: 100vw;
    position: absolute;
    bottom: 2vh;
    left: 0;
}

.menu_open_button {
    height: 5vh;
    display: inline;
}

hr {
    background-color: var(--text);
    border: none;
    color: var(--text);
    height: 2px;
}

a {
    color: var(--theme_color);
    text-decoration: none;
}

.button, button {
    display: inline-block;
    padding: 0.3em 1em;
    color: var(--theme_color);
    border: solid 2px var(--theme_color);
    border-radius: var(--border_radius_size);
    text-decoration: none;
    margin: 10px 10px 10px 0px;
    background: transparent;
}

.button:hover, button:hover {
    background: var(--theme_color);
    color: var(--text_color);
}

.pre {
    white-space: pre-wrap;
}

img {
    max-width: 100%;
    max-height: 100%;
}

li {
    list-style-type: disc;
    overflow: visible;
}

input[type=text] {
    border: none;
    border-bottom: solid 0.1em var(--text);
    display: block;
    width: 25%;
    color: var(--text);
    background: none;
}

input[type=text]:focus {
    border-bottom: solid 0.1em var(--theme_color);
    width: 50%;
    color: var(--theme_color);
}

input[type=text]:focus::placeholder {
    color: var(--theme_color);
}

.overlay_outer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(5px);
}

.overlay_inner {
    border-radius: var(--border_radius_size);
    box-shadow: 0 2px 5px var(--shadow);
    padding: 2vh;
    background: var(--card_bg);
    width: 50vw;
    height: auto;
    max-height: 80vh;
    position: absolute;
    top: 50vh;
    left: 25vw;
    transform: translateY(-50%);
    margin: 0;
    box-sizing: border-box;
}

progress {
    -webkit-appearance: none;
    border-radius: 0.5rem;
}

progress:not([value]) {
    -webkit-appearance: none;
}

progress:not([value])::-webkit-progress-bar {
    background: none;
}

progress:not([value]) {
    background: var(--theme_color);
    animation: progress_animation 0.5s linear infinite alternate;
}

@keyframes progress_animation {
    0% {
        background: var(--theme_color);
    }
    100% {
        background: var(--bg);
    }
}

progress::-webkit-progress-bar {
    background: var(--bg);
}

progress[value]::-webkit-progress-value {
    background: var(--theme_color);
}
