@import url("light_theme.css");
@font-face {
    font-family: "League Spartan";
    src: url("../font/LeagueSpartan-Regular.ttf") format("truetype");
    font-display: swap;
}

html, body {
    font-family: "League Spartan", "Yu Gothic UI", sans-selif;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--bg1);
    color: var(--text);
    overflow: hidden;
}

header {
    width: 100vw;
    min-height: 5vh;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.title {
    width: 100vw;
    height: 6vh;
    margin: 0;
    padding: 2vh;
    background: var(--theme_color);
    box-shadow: 3px 3px 10px var(--shadow);
    color: white;
}

.title a {
    text-decoration: none;
    color: white;
}

header h1 {
    color: white;
    display: inline:
}

.main_control_panel {
    width: 100vw - 4vh;
    height: 38vh;
    background: var(--bg2);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--bg2_shadow);
    margin: 2vh;
    padding: 2vh;
    text-align: center;
    transition: 0.3s;
}

.main_control_panel:hover {
    background: var(--bg3);
    box-shadow: 10px 10px 10px var(--bg3_shadow);
}

.bottom_control_panel {
    width: 100vw - 4vh;
    height: 15vh;
    background: var(--bg2);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--bg2_shadow);
    margin: 2vh;
    padding: 2vh;
    text-align: center;
    transition: 0.3s;
}

.bottom_control_panel:hover {
    background: var(--bg3);
    box-shadow: 10px 10px 10px var(--bg3_shadow);
}

.fill_panel {
    width: 100vw - 4vh;
    height: 80vh;
    background: var(--bg2);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--bg2_shadow);
    margin: 2vh;
    padding: 2vh;
    transition: 0.3s;
}

.fill_panel:hover {
    background: var(--bg3);
    box-shadow: 10px 10px 10px var(--bg3_shadow);
}

.side_menu_bar_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    display: none;
    z-index: 2;
}

.side_menu_bar {
    background: var(--bg2);
    width: 30vw;
    height: 100vh;
    padding-top: 10vh;
    position: fixed;
    top: 0;
    left: -30vw;
    z-index: 3;
}

.side_menu_bar div {
    background: var(--bg3);
    margin-bottom: 1vh;
    width: 100% - 4vh;
    min-height: 10vh;
    padding: 2vh;
}

.logo {
    height: 30vh;
}

#waiting {
    width: 100%;
    height: 38vh;
    position: absolute;
    top: 10vh;
    left: 0vw;
    z-index: 1;
}

#listening {
    width: 100%;
    height: 38vh;
    position: absolute;
    top: 10vh;
    left: 0vw;
    display: none;
    z-index: 1;
}

.message {
    width: 100vw;
    position: absolute;
    bottom: 2vh;
    left: 0;
}

.menu_open_button {
    height: 5vh;
    display: inline;
}

hr {
    background-color: var(--text);
    border: none;
    color: var(--text);
    height: 2px;
}

a {
    color: var(--theme_color);
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 0.3em 1em;
    color: var(--theme_color);
    border: solid 2px var(--theme_color);
    border-radius: 3px;
    text-decoration: none;
    margin: 10px 10px 10px 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button:hover {
    background: var(--theme_color);
    color: white;
}