/* オート(OSやブラウザの設定に従います)(オレンジ) */

:root {
    --bg: #ffffff;
    --card_bg: #ffffff;
    --text: rgba(0, 0, 0, 0.7);
    --shadow: rgba(0, 0, 0, 0.26);
    --theme_color: #f86806;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #121212;
        --card_bg: #1d1d1d;
        --text: #ffffff;
        --shadow: rgba(0, 0, 0, 0.26);
        --theme_color: #f86806;
    }
}
