/* オート(OSやブラウザの設定に従います)(グレー・ブルー) */

:root {
    --bg: #ffffff;
    --card_bg: #ffffff;
    --text: rgba(0, 0, 0, 0.87);
    --shadow: rgba(0, 0, 0, 0.26);
    --theme_color: #359fd3;
    --header_background_color: var(--theme_color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #333333;
        --card_bg: #444444;
        --text: rgba(255, 255, 255, 0.87);
        --shadow: rgba(0, 0, 0, 0.26);
        --theme_color: #359fd3;
        --header_background_color: #555555;
    }
}
