:root {
    --bg: #FAFAFA;
    --card_bg: #FFFFFF;
    --text: rgba(0, 0, 0, 0.87);
    --shadow: rgba(0, 0, 0, 0.26);
    --theme_color: #FF6A00;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #121212;
        --card_bg: #424242;
        --text: #FFFFFF;
        --shadow: rgba(0, 0, 0, 0.26);
        --theme_color: #FF6A00;
    }
}
