/* オート(OSやブラウザの設定に従います)(オレンジ) */

:root {
    --bg: #FAFAFA;
    --card_bg: #FFFFFF;
    --text: rgba(0, 0, 0, 0.7);
    --shadow: rgba(0, 0, 0, 0.26);
    --theme_color: #FF6A00;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111111;
        --card_bg: #222222;
        --text: #FFFFFF;
        --shadow: rgba(0, 0, 0, 0.26);
        --theme_color: #FF6A00;
    }
}
